$primary : #39CDCC;
$light : #ffffff;
$text-primary:#213F7D;
$primary-font :12px;
$font-sizes: ("small": 12px, "normal": 14px, "mid":16px, "big":18px, "large": 24px);

@mixin button($boarder, $bg-color, $color) {
    padding: 10px 30px;
    color: $color;
    border-radius: 7px;
    border: $boarder;
    background-color: $bg-color;
    font-weight: 600; 
    cursor: pointer;
}
@mixin input-style {
    width: 90%;
    padding: 15px;
    border: 2px solid rgba(84, 95, 125, 0.15); 
    outline: none;
    border-radius: 5px;
}

@mixin flex-align-center{
    display: flex;
    align-items: center; 
}


@mixin flex {
    display: flex;
}

@mixin flex-center-center{
    display: flex;
    align-items: center; 
    justify-content: center;
}

@mixin justify-center{
    justify-content: center;
}
@mixin justify-end{
    justify-content: flex-end;
}
@mixin justify-start{
    justify-content: flex-start;
}
@mixin justify-between{
    justify-content: space-between;
}
@mixin justify-evenly{
    justify-content: space-evenly;
}
@mixin justify-around{
    justify-content: space-around;
}