@import "_variables";

.cards-container {
    position: absolute;
    top: 60px;
    // left: 25%;
    // left: 20%;
    right: 0;
    width: 75%;
    margin: auto;  


    .header {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        margin: 30px 0px;
        color: $text-primary;
    }
}

.cards-body {
    @include flex;
    @include justify-start;
    flex-wrap: wrap;

    gap: 10px;


    .card {
        background-color: $light;
        // box-shadow: 0px 0px 4px 0px grey;
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        @include flex;
        flex-direction: column;
        gap: 15px;
        width: 23%;
        height: 150px;
        padding: 20px;

        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: map-get($map: $font-sizes, $key: "normal");
        line-height: map-get($map: $font-sizes, $key: "mid");
        ;
        text-transform: uppercase;

        color: #545F7D;

        .number {
            font-size: 24px;
            font-weight: 600;
            line-height: 28px;
            color: $text-primary;
        }
    }
}

@media(max-width:"565px"){
    .cards-container {
        position: absolute;
        // top: 130px;
        // left: 25%;
        left: 0;
        right: 0;
        width: 80%;
        margin: auto;  
    .cards-body{
        flex-direction: column;
        .card{
            width: 100%;
           
            align-items: center;
        }
    }

}
}


@media(max-width:"1111px"){
    .cards-body{
        padding: 0px;
        // justify-content: center;
        .card{
            height: 180px;
            // width: 40%;
        }
    }
}

@media(max-width:"670px"){
    .cards-body{ 
        padding: 0px;
        justify-content: flex-start; 
        .card{
            // height: 180px;
            width: 45%;
        }
    }
}


