@import "_variables";



.login_container {
    * {
        font-family: 'Avenir Next Cyr';
    }

    background-color: #ffffff;

    .logo-section {
        width: 173px;
        margin: 40px;

        img {
            width: 100%;
        }
    }

    .body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .banner-section {
            width: 50%;
            margin: auto;
            background-image: url(../images/Rectangle.png);
            height: 100vh;




            .banner {
                img {
                    width: 100%;
                }
            }




        }

        .form-section {
            @extend .banner-section;
            background-image: none;
            background-color: #ffffff;
            padding: 30px;
            height: 100%;

            .header {
                margin-bottom: 50px;

                .welcome {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 55px;

                    letter-spacing: -0.04em;

                    color: #213F7D;
                }
            }

            .form-width {
                width: 85%;
                margin: auto;


                form {
                    width: 90%;

                    .input-container {
                        margin: 20px 0px;
                    }

                    input {
                        @include input-style;

                        

                    }
                    .error::placeholder{
                        color: red;
                    }

                    .show {
                        color: $primary;
                        font-size: map-get($font-sizes, "small");
                        position: relative;
                        left: -55px;
                        // position: absolute;
                        // top: 64.5%;
                        // left: 78%;
                        font-weight: 600;
                    }

                    .forgot-password {
                        color: $primary;
                        font-weight: 600;
                        font-size: map-get($map: $font-sizes, $key: "normal");
                        margin: 20px 0px;
                    }

                    button {
                        @extend input;
                        background-color: $primary;
                        color: $light;
                        font-size: $primary-font +2px;
                        font-weight: 600;
                        border: none;

                        &:hover {
                            background-color: darken($primary, 5%);
                        }
                    }
                }
            }

        }
    }





}


@media(max-width:430px) {
    .body {
        flex-direction: column;
    }

    .login_container .body .banner-section,
    .login_container .body .form-section {
        width: 95%;
        margin: auto;
        height: 100%;

        .input-container {
            width: 100%;
        }

        .form-width {
            width: 100%;

            form {
                width: 100%;
            }
        }
    }

    .login_container .logo-section {
        width: 150px;
        margin: 30px;
    }


}

@media(max-width:1123px) {
    .login_container .body .form-section .form-width form .show {

        left: 70%;
        top: -35px;
    }
}