@import "_variables";

body {
    background-color: #E5E5E5;
}
 

.navigation-body,
.input,
.docs-section,
.profile-section {
    @include flex-align-center;
    @include justify-evenly;
    font-family: "Work Sans";
}

.navigation-body {
    position: fixed;
    // box-shadow: 0px 0px 2px 0px grey;


    right: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    margin: auto;
    padding: 10px 50px;
    background-color: $light;

    .logo-section {
        width: 20%;
    }

    .search-section {
        width: 40%;

        .input {
            justify-content: center;

            input {
                @include input-style;
                width: 70%;
                padding: 10px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            .icon {
                background-color: $primary;
                color: $light;
                padding: 11.6px;
                @include flex-center-center;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }


        }
    }

    .docs-section {
        width: 40%;
        color: $text-primary;

        a {
            color: $text-primary;
        }

        @include justify-end;
        gap: 20px;
    }

    .profile-section {
        gap: 20px;

        .avatar {
            width: 50px;
            border-radius: 100%;

            img {
                width: 100%;
                border-radius: 100%;
                @include flex-center-center;
            }
        }
    }

    .dropdown-content {
         top: 70px; 
        // right: 0px;
        position: fixed;
        z-index: 2;
        background-color: #fefefe;
        padding: 20px;
        width: 200px;
        border-radius: 5px; 
 
        .logout-section{
            @include flex-center-center; 
         
            button{
                @include flex-center-center; 
                background-color: transparent;
                gap: 10px;
                border: none;
                color: #213F7D;

                &:hover{
                    text-decoration: underline;
                }

            }

        }
        

        .icon { 
           color: $primary;
           @include flex-center-center; 

        }
 
    }
}

.mobile-nav {
    display: none;

}

@media(max-width:565px) {
   
    .navigation-container {
        display: none;
    }

    .mobile-nav {
        display: flex; 
        .navigation-body {
            gap: 10px;
            padding: 10px;
        }

        .logo-section {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .menu {
            width: 10%;
            display: flex;
            justify-content: flex-end;
            font-size: 20px;
            background: transparent;
            border: none;
        }


        .profile-section {
            width: 40%;
            justify-content: flex-start;
            gap: 10px;
            margin-left: 10px;
        }

    }

    .mobile-menu-content {
        top: 70px; 
        right: 0px;
        position: fixed;
        z-index: 2;
        background-color: #fefefe;
        padding: 20px;
        width: 80%;
        border-radius: 5px; 
        box-shadow: 0px 0px 15px 1px lighten($primary, 40%);

        input {
            width: 100% !important;
            padding: 15px;
            border: 2px solid rgba(84, 95, 125, 0.15);
            outline: none;
            border-radius: 5px;
            width: 70%;
            padding: 10px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .icon {
            background-color: $primary;
            color: $light;
            padding: 11.6px;
            @include flex-center-center;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }

        .docs-section { 
            padding: 10px;
            color: $text-primary;
            margin-top: 20px; 

            a {
                color: $text-primary;
            }

            gap: 20px;
        }

        .logout-section{
            @include flex-center-center; 
            text-align: center; 
            gap: 10px; 
            button{
                @include flex-center-center; 
                background-color: transparent;
                gap: 10px;
                border: none;

            }
             .logout-icon { 
                color: $primary;
                @include flex-center-center; 
     
             }

             .link{
                color: #213F7D;
                text-decoration: underline;
              }
        }
        
    }

}

@media(max-width:873px){
    .navigation-body {
        position: fixed;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        margin: auto;
        padding: 10px;
        background-color: #ffffff;
    }

    .navigation-body .logo-section {
        width: 20%;
        img{
            width: 100%;
        }
    }
}