body {
  background-color: #E5E5E5;
}

.navigation-body,
.input,
.docs-section,
.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Work Sans";
}

.navigation-body {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  margin: auto;
  padding: 10px 50px;
  background-color: #ffffff;
}
.navigation-body .logo-section {
  width: 20%;
}
.navigation-body .search-section {
  width: 40%;
}
.navigation-body .search-section .input {
  justify-content: center;
}
.navigation-body .search-section .input input {
  width: 90%;
  padding: 15px;
  border: 2px solid rgba(84, 95, 125, 0.15);
  outline: none;
  border-radius: 5px;
  width: 70%;
  padding: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navigation-body .search-section .input .icon {
  background-color: #39CDCC;
  color: #ffffff;
  padding: 11.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.navigation-body .docs-section {
  width: 40%;
  color: #213F7D;
  justify-content: flex-end;
  gap: 20px;
}
.navigation-body .docs-section a {
  color: #213F7D;
}
.navigation-body .profile-section {
  gap: 20px;
}
.navigation-body .profile-section .avatar {
  width: 50px;
  border-radius: 100%;
}
.navigation-body .profile-section .avatar img {
  width: 100%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-body .dropdown-content {
  top: 70px;
  position: fixed;
  z-index: 2;
  background-color: #fefefe;
  padding: 20px;
  width: 200px;
  border-radius: 5px;
}
.navigation-body .dropdown-content .logout-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-body .dropdown-content .logout-section button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 10px;
  border: none;
  color: #213F7D;
}
.navigation-body .dropdown-content .logout-section button:hover {
  text-decoration: underline;
}
.navigation-body .dropdown-content .icon {
  color: #39CDCC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-nav {
  display: none;
}

@media (max-width: 565px) {
  .navigation-container {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .mobile-nav .navigation-body {
    gap: 10px;
    padding: 10px;
  }
  .mobile-nav .logo-section {
    width: 50%;
  }
  .mobile-nav .logo-section img {
    width: 100%;
  }
  .mobile-nav .menu {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    background: transparent;
    border: none;
  }
  .mobile-nav .profile-section {
    width: 40%;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 10px;
  }
  .mobile-menu-content {
    top: 70px;
    right: 0px;
    position: fixed;
    z-index: 2;
    background-color: #fefefe;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 1px #dcf6f6;
  }
  .mobile-menu-content input {
    width: 100% !important;
    padding: 15px;
    border: 2px solid rgba(84, 95, 125, 0.15);
    outline: none;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .mobile-menu-content .icon {
    background-color: #39CDCC;
    color: #ffffff;
    padding: 11.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  .mobile-menu-content .docs-section {
    padding: 10px;
    color: #213F7D;
    margin-top: 20px;
    gap: 20px;
  }
  .mobile-menu-content .docs-section a {
    color: #213F7D;
  }
  .mobile-menu-content .logout-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
  .mobile-menu-content .logout-section button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 10px;
    border: none;
  }
  .mobile-menu-content .logout-section .logout-icon {
    color: #39CDCC;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-menu-content .logout-section .link {
    color: #213F7D;
    text-decoration: underline;
  }
}
@media (max-width: 873px) {
  .navigation-body {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
  }
  .navigation-body .logo-section {
    width: 20%;
  }
  .navigation-body .logo-section img {
    width: 100%;
  }
}/*# sourceMappingURL=navigation.css.map */