@import "_variables";

.options-container{
    color: $text-primary; 

    padding: 10px;
    box-shadow: 0px 0px 5px 1px grey;
    position:absolute;
    // top: 33%;
    left: 75%;
    border-radius: 4px;
    width: 200px;
    background-color: $light;
    z-index: 1;
    font-size: 14px;

    .option{
        @include flex-align-center; 
        padding: 10px;
        gap: 10px;

        img{
            @include flex-center-center;
        }
        .text{
            cursor: pointer; 

        }

    }
}

@media(max-width:"425px"){
    .options-container{
        left: 20%; 
    }
}