@import "_variables";

.options-container{
    color: green; 

    padding: 10px;
    box-shadow: 0px 0px 5px 1px grey;
    position: absolute;
    top: 47.8%;
    left: 80%;
    border-radius: 4px;
    width: 260px;
    background-color: $light;
    z-index: 1;
    font-size: 14px;
}