@import "_variables";
@import "cards.scss";


.usertable-container{

    // @extend .cards-container;
    top: 95%;
    left:0;
    right:0;
    width: 98%;
    overflow-x: scroll;
}

.users-table {
    margin: 50px 0px 20px 0px;
    background-color: $light;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    color: #545F7D;
    overflow-x: scroll;
    z-index: 10; 
    box-shadow: 0px 0px 5px 1px grey;
    padding: 35px;


    table {
        
        font-family: "Work Sans";
        font-style: normal;
        border-collapse: collapse;
        width: 1300px;
        // width: 100%;
        margin: auto;
        text-align: left;  
 

        thead  td{ 
                font-weight: 600;
                padding: 15px;  
                font-size: map-get($map: $font-sizes, $key: "small"); 
            } 

        tbody {
            font-weight: 100;

            tr {
                border-bottom: 1px solid #545F7D ;
                td {
                    padding: 15px; 
                    font-size: 14px;
                    font-weight: 100;
                    width: 30px;
                    justify-items: start;
                    overflow-wrap: break-word;

                   
                }
            } 
            tr:last-child {border-bottom: none;}
            .active {
                background-color: lighten( #39CD62,  40%); 
                color: #39CD62;
                padding: 6px 15px;  
                border-radius: 100px;
            }

            .pending {
                @extend .active;
                background-color: lighten(  #E9B200,  45%); 
                  color:   #E9B200 
            }

            .blacklisted {
                @extend .active;
                background-color: lighten( #E4033B,  50%); 
                  color:   #E4033B ;
            }

            .inactive {
              @extend .active;
              background-color: lighten( #545F7D,  50%); 
                color:  #545F7D;
            }




        }
    };


}
.table-footer{
    @include flex;
    @include justify-between;
    margin: 10px 0px ;  
    color: $text-primary;

  
    .page-navigation, .showing-section{ 
        @extend .table-footer;
        @include flex-align-center;
        font-size: map-get($map: $font-sizes, $key:"normal" );

    }

    .showing-section{ 
        justify-content:flex-start;
        gap: 20px;
        margin: 0px 20px ;
        width: 70%;

        select{
            padding: 5px 8px;
            background-color: #E5E8EE;
            border: none;
            outline: none;
            border-radius: 4px;
            box-shadow: 0px 0px 5px 0px grey;
            margin: 0px 10px;
        }

    }
    .page-navigation{
        width: 20%;
        @include flex-align-center;

        .icon{
            img{
                width: map-get($map: $font-sizes, $key:"big" );
            }
        }
    }
}


@media(max-width:"670px"){

    .users-table table tbody tr td {
        padding: 5px 10px; 
    }

    .table-footer, .table-footer .page-navigation, .table-footer .showing-section {
        display: flex;
         justify-content: flex-start; 
         margin: 10px 0px; 
        color: #213F7D;
    }

    .table-footer .showing-section {
        justify-content: flex-start;
        gap: 0px;
        margin: 0px 20px;
        width: 100%;
    }


    .table-footer  { 
        flex-wrap: wrap;
        .page-navigation{
            width: 100%;
            justify-content: space-evenly;  
        }
    }
}